/* ----------- index.html ------------- */
body{
    background-color: #a08cd2;
    font-family: 'Noto Sans KR', sans-serif;
}
.full-div{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:1500px;
    height:900px;
}
.account-menu-div{
    height:100px;
    line-height: 100px;
    width:80%;
    display: table;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#login-button{
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    border-radius:4px;
    color:white;
    background-color: #70408b;
    float:right;
    margin-top: 30px;
    border: 1px solid white;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
#register-button{
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    border-radius:4px;
    color:white;
    background-color: #7e22df;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    border: 2px solid white;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.main-logo-div{
    height:250px;
    width:100%;
    margin-top:2%;
}
#main-logo-img{
    height:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    width: auto;
}
.search-area-div{
    height:500px;
    width:100%;
    margin-top: 2%;
}
.search-input-div{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#search-input{
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
    width: 93.7%;
    height:47px;
    font-size: 15px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border:1px solid #70408b;
}
#option-button{
    cursor: pointer;
    height:45px;
    float:left;
    background-color: #70408b;
    width:6%;
    border:1px solid #70408b;
}
#option-button-img{
    margin-top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:45%;
    height:50%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.option-select-div{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display:none;
    border:1px solid #70408b;
    height:420px;
    background-color: #FFFFFF;
    
}
.select-sex-div{
    height:100%;
    width:30%;
    float: left;
}
.male-female-div{
    height:100%;
    width:55%;
    margin-left:auto;
    margin-right:auto;
}
.temp{
    height:60%;
    margin-top:10%;
}



/* ----------- login.html ------------- */
.login-area-div{
    border-radius: 5px;
    width:25%;
    height:60%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border:1px solid white;
    background-color: #78589a;
    margin-top:8%;
}
.login-full-div{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:1500px;
}
.login-contents-div{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.login-title-div{
    width:100%;
    margin-top: 100px;
}
#login-title-text{
    font-size: 50px;
    margin: 0px;
}
.login-input-div{
    margin-top:5%;
}
#login-id-input{
    width:100%;
    padding: 10px;
    border-radius: 5px;
}
#login-pw-input{
    width:100%;
    
    padding: 10px;
    border-radius: 5px;
}