/* ----------- index.html ------------- */
body{
    background-color: #a08cd2;
    font-family: 'Noto Sans KR', sans-serif;
}
.full-div{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:1500px;
    height:900px;
}
.account-menu-div{
    height:100px;
    line-height: 100px;
    width:80%;
    display: table;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#login-button{
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    border-radius:4px;
    color:white;
    background-color: #70408b;
    float:right;
    margin-top: 30px;
    border: 1px solid white;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
#register-button{
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    border-radius:4px;
    color:white;
    background-color: #7e22df;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    border: 2px solid white;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.main-logo-div{
    height:250px;
    width:100%;
    margin-top:2%;
}
#main-logo-img{
    height:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    width: auto;
}
.search-area-div{
    height:500px;
    width:100%;
    margin-top: 2%;
}
.search-input-div{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#search-input{
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
    width: 93.7%;
    height:47px;
    font-size: 15px;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border:none;
}
#option-button{
    cursor: pointer;
    height:45px;
    float:left;
    background-color: #70408b;
    width:6%;
    border:1px solid #70408b;
}
#option-button-img{
    margin-top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width:45%;
    height:45%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.option-select-div{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    display:none;
    border:1px solid #70408b;
    height:420px;
    background-color: #FFFFFF;
    
}
.select-sex-div{
    height:100%;
    width:30%;
    float: left;
}
.male-female-div{
    height:100%;
    width:55%;
    margin-left:auto;
    margin-right:auto;
}
.temp{
    height:60%;
    margin-top:10%;
}
#search-hr{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.option-contents-div{
    width:25%;
    height:85%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.option-layer{
    width:100%;
    height:33%;
}
.option-layer-inner{
    width:100%;
    height:40%;
    line-height: 49px;
    vertical-align: middle;
    text-align:center;
}
#option-layer-title{
    margin:0px;
}
.option-layer-diamond{
    width: 100%;
    height:60%;
}
.diamond-left{
    width: 50%;
    float:left;
}
.diamond-right{
    width: 50%;
    float:right;
}
#diamond-img{
    height:100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.sex-select{
    margin-top:1%;
    display: none;
    width:700px;
    height:355px;
    position: fixed;
    z-index: 10000000;
    background: rgba(255,255,255,0.1);
    transition: 1s;
}
.sex-select-inner{
    margin-top:2%;
    width:20%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transition: 1s;
    text-align: center;
}
#select-title{
    margin:0px;
    margin-top: 5%;
    font-size:25px;
    padding:0px;
    text-align: center;
}
#select-title-line{
    margin:0px;
    margin-top: 5%;
    font-size:25px;
    padding:0px;
    text-align: center;
}
#select-sex-text{
    text-align: center;
    margin:0px;
    cursor: pointer;
    margin-top: 3%;
    font-size:40px;
}
#diamond-text-div{
    position:absolute;
    width:50px;
    height:70px;
    margin-left:21px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}
#sex-diamond-text{
    margin:0px;
    font-size:25px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
.age-select{
    padding-top:1%;
    display: none;
    width:700px;
    height:355px;
    position: fixed;
    z-index: 10000000;
    background: rgba(255,255,255,0.1);
    transition: 1s;
}
.age-select-inner{
    margin-top:2%;
    width:30%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transition: 1s;
    text-align: center;
}
#select-age-input{
    text-align: center;
    width:100%;
    padding:5px;
    font-size:45px;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    border-bottom: 1px solid black;
}
#age-diamond-text{
    margin:0px;
    font-size:25px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}

.mainLine-select{
    padding-top:1%;
    display: none;
    width:700px;
    height:355px;
    position: fixed;
    z-index: 10000000;
    background: rgba(255,255,255,0.1);
    transition: 1s;
}
.mainLine-select-inner{
    margin-top:2%;
    width:30%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transition: 1s;
}
.map-overlay-div{
    width:210px;
    height:210px;
    position: absolute;
}
.line-div{
    width:99%;
    height:19%;
    border: 1px solid transparent;
}
.line-info-text{
    margin:0px;
    line-height: 41px;
    font-size:22px;
    cursor: pointer;
}
#mainLine-diamond-text{
    margin:0px;
    font-size:22px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}
#minorLine-diamond-text{
    margin:0px;
    font-size:22px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
}


/* ----------- login.html ------------- */
.login-area-div{
    border-radius: 5px;
    width:25%;
    height:60%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border:1px solid white;
    background-color: #70408b;
    margin-top:8%;
}
.login-full-div{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:1500px;
}
.login-contents-div{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.login-title-div{
    width:100%;
    margin-top: 100px;
}
#login-title-text{
    font-size: 40px;
    margin: 0px;
    color: white;
}
.login-input-div{
    margin-top:15%;
}
#login-id-input{
    width:100%;
    padding: 10px;
}
#login-pw-input{
    width:100%;
    margin-top: 5%;
    padding: 10px;
}
.login-button-div{
    margin-top:10%;
}
#login-login-btn{
    font-family: 'Noto Sans KR', sans-serif;
    width:49%;
    float:left;
    padding:7px;
    font-size:15px;
    border:none;
    background-color: #a08cd2;
    border:1px solid white;
}
#login-join-btn{
    font-family: 'Noto Sans KR', sans-serif;
    width:49%;
    float:right;
    padding:7px;
    font-size:15px;
    border:1px solid white;
    background-color: #a08cd2;
}