<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../css/style.css">
        <script src="../../js/script.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="login-full-div">
            <div class="login-area-div">
                <div class="login-contents-div">
                    <div class="login-title-div">
                        <p id="login-title-text"><strong>로그인</strong></p>
                    </div>
                    <div class="login-input-div">
                        <input type="text" id="login-id-input" placeholder="ID">
                        <input type="password" id="login-pw-input" placeholder="PW">
                    </div>
                    <div class="login-button-div">
                        <button id="login-login-btn"><strong>로그인</strong></button>
                        <button id="login-join-btn"><strong>회원가입</strong></button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>