<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body>

    <div class="full-div">

        <div class="account-menu-div">
            <button id="login-button" onclick="location.href='./account/login.html'">로그인</button>
        </div>

        <div class="main-logo-div">
            <img src="../img/logo.png" alt="" id="main-logo-img">
        </div>
        <div class="search-area-div">
            <div class="search-input-div">
                <input type="text" id="search-input" placeholder="닉네임 검색">
                <div id="option-button" onclick="dropdown()">
                    <img src="../img/arrow.png" alt="" id="option-button-img">
                </div>
            </div>
            <div class="option-select-div">
                <hr id="search-hr">
                
                <div class="sex-select" onclick="cancelSex()">
                    <div class="sex-select-inner">
                        <p id="select-title"><strong>성별</strong></p>
                    </div>
                    <div class="sex-select-inner">
                        <p id="select-sex-text" onclick="clickedMan()"><strong>남자</strong></p>
                        <p id="select-sex-text" onclick="clickedWoman()"><strong>여자</strong></p>
                    </div>
                    <input type="hidden" value="none" id="sexValue" name="sex">
                </div>

                <div class="age-select" onclick="cancelAge()">
                    <div class="sex-select-inner">
                        <p id="select-title"><strong>나이</strong></p>
                    </div>
                    <div class="age-select-inner">
                        <input type="text" id="select-age-input">
                    </div>
                    <input type="hidden" value="none" id="ageValue" name="age">
                </div>

                <div class="mainLine-select" onclick="cancelMainLine()">
                    <div class="mainLine-select-inner">
                        <p id="select-title"><strong>주라인</strong></p>
                    </div>
                    <div class="mainLine-select-inner">
                        <div class="map-overlay-div">
                            <div class="line-div">
                                <p class="line-info-text" style="margin-left:5%;" onclick="selectTop()"><strong>탑</strong></p class="line-info-text">
                            </div>
                            <div class="line-div">
                                <p class="line-info-text" style="margin-left:15%;" onclick="selectJungle()"><strong>정글</strong></p>
                            </div>
                            <div class="line-div">
                                <p class="line-info-text" style="text-align: center;" onclick="selectMid()"><strong>미드</strong></p class="line-info-text">
                            </div>
                            <div class="line-div">
                                <p class="line-info-text" style="float:right; margin-right:15%;" onclick="selectSup()"><strong>서포터</strong></p class="line-info-text">
                            </div>
                            <div class="line-div">
                                <p class="line-info-text" style="float:right; margin-right:5%;" onclick="selectBot()"><strong>봇</strong></p class="line-info-text">
                            </div>
                        </div>
                        <img src="../img/map.png" alt="" style="width:100%;">
                    </div>
                    <input type="hidden" value="none" id="mainLineValue" name="mainLine">
                    <input type="hidden" value="none" id="minorLineValue" name="minorLine">
                </div>

                <div class="option-contents-div">
                    <div class="option-layer">
                        <div class="option-layer-inner">
                            <p id="option-layer-title"><strong>성별 - 나이</strong></p>
                        </div>
                        <div class="option-layer-diamond">
                            <div class="diamond-left">
                                <div id="diamond-text-div" onclick="sexClick();">
                                    <p id="sex-diamond-text"></p>
                                </div>
                                <img src="../img/white-diamond.png" id="diamond-img">
                            </div>
                            <div class="diamond-right">
                                <div id="diamond-text-div" onclick="ageClick();">
                                    <p id="age-diamond-text"></p>
                                </div>
                                <img src="../img/white-diamond.png" id="diamond-img">
                            </div>
                        </div>
                    </div>
                    <div class="option-layer">
                        <div class="option-layer-inner">
                            <p id="option-layer-title"><strong>주라인 - 보조라인</strong></p>
                        </div>
                        <div class="option-layer-diamond">
                            <div class="diamond-left">
                                <div id="diamond-text-div" onclick="mainLineClick();">
                                    <p id="mainLine-diamond-text"></p>
                                </div>
                                <img src="../img/white-diamond.png" id="diamond-img">
                            </div>
                            <div class="diamond-right">
                                <div id="diamond-text-div" onclick="minorLineClick();">
                                    <p id="minorLine-diamond-text"></p>
                                </div>
                                <img src="../img/white-diamond.png" id="diamond-img">
                            </div>
                        </div>
                    </div>
                    <div class="option-layer">
                        <div class="option-layer-inner">
                            <p id="option-layer-title"><strong>티어</strong></p>
                        </div>
                        <div class="option-layer-diamond">
                            <img src="../img/white-diamond.png" id="diamond-img" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>